{# {% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <h1>Create new Artist</h1>

    {{ include('artist/_form.html.twig') }}

    <a href="{{ path('app_artist_index') }}">back to list</a>
{% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h1 class="card-title">Create new Artist</h1>
                </div>
                <div class="card-body">
                    {{ include('artist/_form.html.twig') }}
                </div>
            </div>
            <a class="btn btn-primary mt-3" href="{{ path('app_artist_index') }}">Back to list</a>
        </div>
    </div>
</div>
{% endblock %}
